*, *::before, *::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}

img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}

input, button, textarea, select {
    font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
}

#root, #__next {
    isolation: isolate;
}

* {
    text-align: center;
}

.library-container {
    display: flex;
    flex-wrap: wrap;
    justify-items: center;
    gap: 12px;
}

.book-card {
    background-color: slategray;
    border: solid rgb(252, 220, 161);
    width: 500px;
    height: 225px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.book-card:hover {
    opacity: .8;
}

.title-author {
    font-size: 32px;
    font-weight: bold;
}

.page-number, .read-status {
    font-size: 24px;
}

.modal {
    margin: auto;
}

.modal::backdrop {
    background: linear-gradient(180deg, black, rgb(252, 220, 161));
    opacity: .8;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 25px 50px;
}

.button-container {
    display: flex;
    gap: 8px;
}

.button-container > button {
    width: 65px;
    margin-top: 12px;
}

label {
    padding-top: 12px;
}

.del-btn {
    background-color: rgb(252, 220, 161);
}