table, th {
    border: 2px solid black;
}

th {
    padding: 8px;
}

td {
    padding: 12px;
}

button {
    margin: 4px;
    padding: 5px;
}

.new-book {
    display: grid;
    margin: 40px;
    /* justify-items: center; */

}

.new-book > * {
    padding: 15px;
}