*, *::before, *::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}

img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}

input, button, textarea, select {
    font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
}

#root, #__next {
    isolation: isolate;
}

* {
    text-align: center;
}

.book-card {
    background-color: slategray;
    width: 500px;
    height: 200px;
}

.title-author {
    font-size: 32px;
    font-weight: bold;
}

.page-number, .read-status {
    font-size: 24px;
}